.wrap{
    border-radius: 3ex;
    border: black;
    border-width: 10ex;
    background-color: rgba(13,18,63,0.45);
    margin-left: 5ex;
    margin-right: 5ex;
    margin-top: 5ex;
}

main{
    padding-top: 1ex;
    padding-right: 50ex;
    padding-left: 50ex;
    padding-bottom: 1ex;

}



body{
    display:flex;
    align-items: stretch;
    justify-content: center;
    background: #C0C2C9;
}
.begin{
    border-radius: 3ex;
    border: black;
    border-width: 10ex;
    background-color: #E00020;
    margin-top: 2ex;
    margin-left: 2ex;
    margin-right: 2ex;
    padding-right: 45ex;
    padding-left: 45ex;
    font-family: Helvetica,Arial,sans-serif;
    color: #EDF2F4;
}

h1{
    font-family: Helvetica,Arial,sans-serif;
}
.links{
    font-family: Helvetica,Arial,sans-serif;
    color: #EDF2F4;
}

.A{
    font-family: Helvetica,Arial,sans-serif;
    background: #C0C2C9;
}
